{% extends 'layout.html' %}

{% block body %}
  <h1>About This</h1>
	<p>Coming Soon: (I hope)</p>
	<p>   - Auto Submit </p>
	<p>   - Dashboard </p>
	<br/>
	<br/>
	<p>This will find the answers to questions on a URL, you have to then manually type the answers into Dr Frost. If it says it is loading it is in the process of answering questions.</p>
	<p>To use enter your DR Forst login then the full question URL i.e. https://www.drfrostmaths.com/do-question.php?aaid=11100178   Then click submit and it will take a minute or two loading then it will return the answers.</p>
	<p>Please do not just rush throught the questions as well take time typing in the answers as otherwise it looks suspicious.</p>
	<p>I have not wrote some code to clean up the output. You can ignore most '/'. <br/><b> If it says the answer is just 1 word write some other text with it.</b> Sometime you will get it wrong otherwise. Also it looks suspicous when it want a sentance answer and you give one word. <br/> If you know python feel free to write a bit of code and send it to me which takes an input (like the output of this) and cleans it up and makes it readable.</p>
	<a href="https://github.com/Jacrac04"><b>My Github</b></a>
	<p><a href="mailto:jacrac04@gmail.com"><b>Email me</b></a></p>
	<!--	<p>To use this you must first create and account on this website nad login. Then you can click on one of the bots. You must ensure you click on the DR Frost bot login page and login first to ensure the bot will use your DR Frost account. Then you can paste the question URL in and click submit. It will then answer 5 questions at a time, one every 45 secs unless you are admin, then you can change the delay and do infinite questions. More admin features coming. Whatever you do dont use an infite question URL.</p>
-->
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<P><B>DISCLAIMER: By not completeing work set you may impact your education.</B></P>
 {% endblock %}
