



{% if inf %}
  <div style="height:300px;width:600px;overflow:auto;border:8px solid gray;padding:2%;float:left;">{{inf|safe}}</div>
  <div style="height:300px;width:300px;overflow:auto;border:8px solid gray;padding:2%l;float:right;">I have not wrote some code to clean up the output. You can ignore most '/'. <br/><b> If it says the answer is just 1 word write some other text with it.</b> Sometime you will get it wrong otherwise. Also it looks suspicous when it want a sentance answer and you give one word. <br/> If you know python feel free to write a bit of code and send it to me which takes an input (like the output of this) and cleans it up and makes it readable.</div>
{% endif %}
